@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
.body {
    background-color: var(--backColor);       
}

body {
    font-family: 'Open+Sans', sans-serif;
}

a {
    text-decoration:none;  
}

:root {
    --mainColor: #F2DA5E;     
    --secondColor: #F2BC1B; 
    --redColor: #E03131; 
    --greenColor: #48e073; 
    --backColor: #fff; 
}

#leftSideDiv, #rightSideDiv {
    border-left: 0rem solid #1f1f1f;
    transition: all .5s ease-in;
}

#leftSideDiv:hover, #rightSideDiv:hover{
    border-left: 0.8rem solid var(--mainColor);
    transition: all .5s ease-in;
}

#reflexiveText, #ireflexiveText, #simetryText, #asimetryText, #transitivityText {
    color:#1f1f1f;font-size:1.9rem;font-weight:bold;margin-left:2rem;width:fit-content;
    background-color: var(--backColor);
    transition: all .5s ease-in;
}

#reflexiveText:hover, #ireflexiveText:hover, #simetryText:hover, #asimetryText:hover, #transitivityText:hover {
    background-color: #1f1f1f;
    transition: all .5s ease-in;
}


#buttonMatrix, #buttonRelation, #buttonCalculate {
    background-color:var(--mainColor);
    color:#ffffff;
    border:0;
    width:auto;
    height:auto;
    font-size:2rem;
    margin-left:3rem;
}

#buttonMatrix:hover, #buttonRelation:hover, #buttonCalculate:hover {
    background-color:var(--secondColor);
}

#buttonMatrix:active, #buttonRelation:active, #buttonCalculate:focus {
    background-color:#1f1f1f;
}

#buttonMain, #buttonOperations, #buttonIa {
    background-color:var(--mainColor);
    color:#1f1f1f;
    border:0;
    width:auto;
    height:auto;
    font-size:2rem;
    margin-left:1.5rem;
    transition: all .5s ease-in;
}

#buttonMain:hover, #buttonOperations:hover, #buttonIa:hover {
    background-color:#1f1f1f;
    color:#fff;
    transition: all .5s ease-in;
}

#buttonCopy {
    background:url("copyIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    border:0;
    width:1.5rem;
    height:1.5rem;
    font-size:0.7rem;
}

#buttonAddRelation {
    background:url("addIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1f1f1f;
    border:0;
    width:2.5rem;
    height:2.5rem;
    transition: all .5s ease-in;
}

#buttonDeleteRelation {
    background:url("deleteIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1f1f1f;
    border:0;
    width:2.5rem;
    height:2.5rem;
    transition: all .1s ease-in;
}

#buttonAddRelation:hover, #buttonDeleteRelation:hover {
    background-color:#555555;
    transition: all .1s ease-in;
}

#inputRelation, #inputMatrixRelation, #inputOperation {
    outline: 0;
    height:2rem;
    width:28rem;
    border-width: 0 0 0.18rem;
    font-size: 1rem;
    border-color: var(--mainColor);
}

#inputRelation:focus, #inputMatrixRelation:focus, #inputOperation:focus {
  border-color: var(--secondColor);
}
#inputRelation:hover, #inputMatrixRelation:hover, #inputOperation:hover {
  border-color: var(--secondColor);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--greenColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--greenColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}